.item {
  display: flex;
  width: 500px;
  justify-content: space-between;
  background-color: #eee;
  padding-left: 15px;
  color: blueviolet;
  margin-bottom: 10px;
}

.item button {
  padding: 15px;
  font-weight: 900;
  font-size: 30px;
}
